@{ ViewBag.Title = "Добавить категорию";}
<form method="POST" action="/Catalog/AddNewCategory">
    <table class="data-form">
        <caption>Добавление категории</caption>
        <tr>
            <td>Название</td>
            <td>
                <input name="Name" type="text" />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;">
                <input class="link-button" type="submit" value="Добавить" />
            </td>
        </tr>
    </table>
</form>

