@{ ViewBag.Title = "Вход";}

<form class="login-form" method="POST" action="/Catalog/Logining">
    <div class="text-center">
            <input type="text" name="Login" placeholder="Логин" style="margin:10px;"/><br/>
            <input name="Password" placeholder="Пароль" type="password" style="margin:10px;" /><br/>
            <input type="submit" value="Войти" class="link-button" style="margin:10px;" />
    </div>
</form>