@{ ViewBag.Title = "Изменить категорию";}
<form method="POST" action="/Catalog/UpdateNewCategory">
    <table class="data-form">
        <caption>Обновление категории</caption>
        <tr>
            <td>Название</td>
            <td>
                <input name="Id" value="@ViewBag.Category.Id" hidden />
                <input name="Name" type="text" value="@ViewBag.Category.Name" />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;">
                <input class="link-button" type="submit" value="Обновить" />
            </td>
        </tr>
    </table>
</form>
